---
import { heading, subHeadingText, tiles } from "../consts/communitypicks.js";
import { TileCollection } from '../components/index.js';
import ConexusSubpage from "../layouts/ConexusSubpage.astro";
import styles from "../styles/styles.js";
---

<div class={`${styles.page}`}>
    <ConexusSubpage>
        <h1 class=`${styles.headerText}` slot="header"> {heading} </h1>
        <p class=`${styles.regularText}` slot="subheading"> {subHeadingText} </p>
    </ConexusSubpage>
    <TileCollection tileData={tiles} collectionStyles={`${styles.normalTileCollection}`} tileStyles={`${styles.normalTile}`} client:load  />
</div>






