---
import TileCollection from '../components/TileCollection.svelte';
import styles from "../styles/styles";
import { menuText, subHeading, footerText, conexusTiles } from "../consts/conexus";
---

<div class={`${styles.page}`}>
    <h1 class={`${styles.headerText} text-center`}> CoNexus </h1>
    <p class={`${styles.subHeadingText}`}> {subHeading} </p>
    <p class={`${styles.regularText}`}> {menuText} </p>
    <TileCollection tileData={conexusTiles} collectionStyles='flex flex-row space-x-2' tileStyles={`${styles.normalTile}`} areLinks={true} client:load />
    <p class={`${styles.regularText}`}> {footerText} </p>
</div>

