---
import { heading, subHeadingText, genres } from "../consts/dischordiansaga";
import { TileCollection } from '../components/index.js';
import ConexusSubpage from "../layouts/ConexusSubpage.astro";
import Styles from "../styles/styles.js";
---
<div class={`${Styles.page}`}>
  <ConexusSubpage>
    <h1 class="text-6xl font-bold h-16" slot="header"> {heading} </h1>
    <p class="text-base" slot="subheading">{subHeadingText}</p>
  </ConexusSubpage>
  {
    genres.map((genre) => (
      <div id={genre.title}>
        <h1 class="text-3xl font-bold">{genre.title}</h1>
        <div class="flex flex-row flex-wrap">
          <TileCollection stories={genre.stories} />
        </div>
      </div>
    ))
  }
</div>





