---
import { heading, subHeadingText, all_games } from '../consts/sagaverse.js';
import { TileCollection } from '../components';
import styles from "../styles/styles.js";
---

<div class={`${styles.page} `}>
    <h1 class={`text-6xl font-bold text-center text-daoblue1`}> {heading} </h1>
    <p class={`${styles.regularText}`}> {subHeadingText} </p>
    {
        all_games.map((game) => (
          <div id={game.title}>
            <h1 class={`text-daoblue2 text-3xl font-bold`}>{game.title}</h1>
            <TileCollection tileData={game.content} collectionStyles={`${styles.normalTileCollection}`} tileStyles={`${styles.normalTile}`} client:load />
          </div>
        ))
    }
</div>