---
import { heading, subHeadingText, all_games } from '../consts/sagaverse.js';
import { TileCollection } from '../components';
import Styles from "../styles/styles.js";
---

<div class={`${Styles.page}`}>
    <h1 class="text-6xl font-bold h-16 text-center"> {heading} </h1>
    <p class="text-base"> {subHeadingText} </p>
    {
        all_games.map((game) => (
          <div id={game.title}>
            <h1 class="text-3xl font-bold">{game.title}</h1>
            <div class="flex flex-row flex-wrap">
              <TileCollection stories={game.content} />
            </div>
          </div>
        ))
      }
</div>