---
const { primaryImage, secondaryImage, alt, route, styles } = Astro.props;
---

<div class=`hover-image ${styles}`>
    <a href={`/${route}`}>
        <img src={primaryImage} alt={alt} class="primary-image" />
        <img src={secondaryImage} alt={`${alt}-selected`} class="secondary-image" />
    </a>
</div>

<style>
  .hover-image {
    overflow: hidden;
  }

  .primary-image {
  }

  .secondary-image {
    display: none;
  }

  .hover-image:hover .secondary-image {
    display: block;
    opacity: 1;
  }

  .hover-image:hover .primary-image {
    display: none;
  }
</style>